<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-vibration"
    version="0.1.2">
    <name>nat-device-vibration</name>
    <description>Nat.js module: Vibration</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,device,vibration</keywords>
    <repo>https://github.com/natjs/weex-nat-device-vibration.git</repo>
    <issue>https://github.com/natjs/weex-nat-device-vibration/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatVibration" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatVibration" />
                 <param name="api" value="nat/device/vibration" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatVibration.h"/>
         <source-file src="ios/WeexNatVibration.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="DeviceVibrationModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.DeviceVibrationModule" />
                 <param name="api" value="nat/device/vibration" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.VIBRATE" />
        </config-file>

        <source-file
             src="android/DeviceVibrationModule.java"
            target-dir="src/com/alibaba/weex/nat/DeviceVibrationModule.java" />

        <framework src="com.nat:device-vibration:1.0.1" />
     </platform>

</plugin>
